.home{
    min-height: 80vh;
}

.input{
    display: flex;
    flex-direction: column ;
    min-width: 35%;
    margin-right: 5%;
    margin-left: 10%;
}

.top{
    display: flex;
}

.output{
    display: flex;
    min-width: 35%;
    margin-right: 10%;
    margin-left: 5%;
    background-color: rgb(244, 207, 160);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    padding: 1% 2%  ;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    word-break: break-all;
}

.bottom{
    display: flex;
    flex-direction: column;
    width: 100bw;
    align-items: center;
}

.select-algo{
    text-align: right;
    margin-right: 5%;
    margin-bottom: 1.5%;
    padding-top: 1.5%;
}
